@inherits LayoutComponentBase

@using Blazored.Toast.Configuration
@using Microsoft.Extensions.Configuration;
@using Services;

@inject IConfiguration configuration
@inject UserInfoService _userInfoService

<BlazoredModal />
<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="3"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-thumbs-up"
                ErrorIcon="fa fa-bug" />
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <LoginDisplay />

            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>


@code{
    protected override async Task OnInitializedAsync()
    {


        await Data.SignalRHelper.SignalRInitAsync(configuration, _userInfoService);

    }
}