@inherits LayoutComponentBase

@using Blazored.Toast.Configuration
@using Microsoft.Extensions.Configuration;
@using Services;
@using ShoppingList_WebClient.Data
@using ShoppingList_WebClient.Pages

@inject IConfiguration configuration
@inject StateInfoService _userInfoService
@inject AuthenticationStateProvider authenticationStateProvider

<BlazoredToasts Position="ToastPosition.BottomRight"
Timeout="3"
IconType="IconType.FontAwesome"
SuccessClass="success-toast-override"
SuccessIcon="fa fa-thumbs-up"
ErrorIcon="fa fa-bug" />
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <LoginDisplay />

            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>


@code{

    [CascadingParameter]
    public Error Error { get; set; }

    protected override async Task OnInitializedAsync()
    {

        _userInfoService.NewTokenLoadedEvent += TokenLoaded;


    }

    async void TokenLoaded(string token)
    {
        try
        {
            await Data.SignalRHelper.SignalRInitAsync(configuration, _userInfoService);
        }
        catch (Exception ex)
        {
            await Error.ProcessExceptionAsync(ex);
            throw;
        }
    }


}