<div class="simple-form">

    <div class="form-group">
        <label for="movie-name">@Info</label>
       
    </div>

    <button @onclick="@OK" class="btn btn-primary">Submit</button>
   
</div>

@code {

    //[CascadingParameter] ModalParameters Parameters { get; set; }
    [CascadingParameter] BlazoredModalInstance modalInstance { get; set; }
    [Parameter] public string Info { get; set; }

    protected override void OnInitialized()
    {


        //Info = Parameters.Get<string>("Info");
    }



    void OK()
    {

        //ModalService.Close();
        modalInstance.CloseAsync();
    }

}