@inject IModalService ModalService

<div class="simple-form">

    <div class="form-group">
        <label class="@_warningStyle" for="movie-name">Ale you sure to delete '@Name'?</label>
        @if (FullInfo)
        {
        <label for="movie-name">and all children item?</label>
        }
    </div>

    <button  @onclick="@OK" class="btn btn-primary">Ok</button>
    <button @onclick="@Cancel" class="btn btn-secondary">Cancel</button>
</div>

@code {

    [CascadingParameter] ModalParameters Parameters { get; set; }

    string Name { get; set; }
    bool FullInfo { get; set; }
    bool Warning { get; set; }
    protected override void OnInitialized()
    {


        Name = Parameters.Get<string>("Name");
        FullInfo = Parameters.TryGet<bool>("FullInfo");
        Warning = Parameters.TryGet<bool>("Warning");
    }

    string _warningStyle
    {
        get
        {

            if (Warning)
            {
                return "list-group-item border-danger";
            }
            else
            {
                return "";
            }

        }
    }


    void OK()
    {

        ModalService.Close(ModalResult.Ok<bool>(true));
    }

    void Cancel()
    {
        ModalService.Cancel();
    }

}